body { font-family: 'Exo 2', sans-serif; }

.with_images_select { width: 100%; }

.with_images_select .jcf-select .jcf-select-text { margin-left: 5px; padding-left: 40px; }

.jcf-select { background: #fff; border-color: #385e9b; -webkit-border-radius: 6px; border-radius: 6px; color: #480f63; height: 42px; margin-bottom: 0; width: 100%; display: block; cursor: pointer !important; }

.jcf-select .jcf-select-text { font: 700 18px/40px 'Exo 2', sans-serif; color: #385e9b; position: relative; margin-right: 30px; margin-left: 10px; cursor: pointer; }

.jcf-select .jcf-select-text img { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; display: block; max-height: 20px; width: auto; }

.jcf-select .jcf-select-opener { background: none; width: 22px; }

.jcf-select .jcf-select-opener:after { content: ''; width: 6px; height: 6px; border: 0; border-left: 1px solid #385e9b; border-bottom: 1px solid #385e9b; position: relative; -webkit-transform: translate(-50%, -50%) rotate(-45deg); -ms-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); position: absolute; top: 50%; left: 50%; }

.jcf-list-box .jcf-selected, .jcf-select-drop .jcf-hover { color: #16181b; text-decoration: none; background-color: #f8f9fa; }

.jcf-select-drop { margin-top: 2px !important; }

.jcf-select-drop img { max-width: 30px; display: block; height: auto; }

.jcf-select-drop .jcf-select-drop-content { border: 1px solid rgba(0, 0, 0, 0.15); -webkit-border-radius: 0.25rem; border-radius: 0.25rem; background: #fff; }

.jcf-select-drop .jcf-list { background: none; }

.jcf-select-drop ul { padding: 8px 0; }

.jcf-select-drop ul li span { padding: 0.25rem 1.5rem 0.25rem 20px !important; cursor: pointer !important; font-size: 16px; line-height: 26px; position: relative; }

.jcf-select-drop ul li span img { display: inline-block; vertical-align: middle; padding-right: 10px; }

.jcf-focus, .jcf-focus * { border-color: #385e9b !important; -webkit-transition: border-color 0.15s ease-in-out; -o-transition: border-color 0.15s ease-in-out; transition: border-color 0.15s ease-in-out; }

.input_group { height: 42px; }

.input_group .form-control { border-color: #385e9b; border-left-color: transparent; height: 42px; font-size: 18px; color: #385e9b; font-weight: 700; }

.input_group .form-control:focus { border-color: #385e9b; }

.input_group .input-group-text { background: #fff; border-color: #385e9b; border-right: 0; }

.input_group .input-group-text span { font-size: 18px; color: #b9c8e0; }

.input_group .input-group-append .btn { border-color: #385e9b; background: #e0e0e0; font-size: 18px; font-weight: 700; color: #385e9b; border-left: 0; }

.input_group .input-group-append .btn:active, .input_group .input-group-append .btn:focus { -webkit-box-shadow: none !important; box-shadow: none !important; }

.input_group .input-group-append .btn.dropdown-toggle:after { content: ''; width: 6px; height: 6px; border: 0; border-left: 1px solid #385e9b; border-bottom: 1px solid #385e9b; position: relative; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); margin-left: 10px; }

.holder_custom { padding: 0 8px; }

.holder_custom > .row { margin: 0 -8px; }

.holder_custom > .row [class*="col"] { padding-left: 8px; padding-right: 8px; }

.btn_gray { background: #e0e0e0; height: 42px; font-size: 18px; font-weight: 700; color: #385e9b; padding-left: 27px; padding-right: 27px; }

.nav_tablist.bordered li a.active { position: relative; }

.nav_tablist.bordered li a.active:before { content: ''; width: 100%; height: 3px; position: absolute; top: 0; left: 0; background: #fff; }

.nav_tablist li { font-size: 30px; padding: 0 15px; }

@media (max-width: 767.98px) { .nav_tablist li { font-size: 20px; padding: 0 10px; } }

.nav_tablist li a { color: #6495bf; font-weight: 800; display: block; padding: 8px 0; }

.nav_tablist li a:hover { text-decoration: none; }

.nav_tablist li a.active { color: #fff; }

.minw_0 { min-width: 0; }

.header { background: rgba(0, 0, 0, 0.5); color: #fff; }

.header a { color: #fff !important; }

.header .navbar-nav .nav-item { padding: 0 23px; }

.header .navbar-nav .nav-item.active .nav-link { font-weight: 700; }

.header .navbar-nav a { font-size: 18px; padding: 0 !important; }

@media (max-width: 1199.98px) { .header .navbar_main { padding-top: 30px; } }

.header .navbar_main .nav-item { padding: 0 23px; }

@media (max-width: 1199.98px) { .header .navbar_main .nav-item { position: relative; } }

.header .navbar_main .nav-item.active .nav-link { font-weight: 700; }

.header .navbar_main .nav-item.active .nav-link:before { content: ''; width: 100%; height: 3px; position: absolute; top: -8px; left: 0; background: #fff; }

@media (max-width: 1199.98px) { .header .navbar_main .nav-item.active .nav-link:before { top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; width: 3px; height: 20px; } }

.header .navbar_main .nav-item .nav-link { padding: 17px 0 !important; display: block; position: relative; }

@media (max-width: 1199.98px) { .header .navbar_main .nav-item .nav-link { position: static; padding: 5px 0 !important; } }

.header .navbar_main .nav-item .nav-link:hover:before { content: ''; width: 100%; height: 3px; position: absolute; top: -8px; left: 0; background: #fff; }

@media (max-width: 1199.98px) { .header .navbar_main .nav-item .nav-link:hover:before { top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; width: 3px; height: 20px; } }

.header .navbar_sub { position: relative; padding-left: 25px; margin-left: 25px; }

.header .navbar_sub:before { content: ''; width: 1px; height: 17px; background: #b8c4c6; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

@media (max-width: 1199.98px) { .header .navbar_sub { padding-left: 0; margin-left: 0; margin-top: 20px; padding-top: 20px; }
  .header .navbar_sub:before { top: 0; left: 50%; width: 70%; height: 1px; background: #fff; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); } }

@media (max-width: 1199.98px) { .header .navbar_sub { padding-bottom: 20px; } }

.header .lang_menu { min-width: 60px !important; }

@media (max-width: 1199.98px) { .header .lang_menu { max-width: 100px; } }

@media (max-width: 767.98px) { .header .lang_menu { max-width: none; } }

.header .lang_menu a { color: #58595b !important; padding: 0 10px !important; text-align: center; }

.header .lang_link { padding: 0 0 0 23px !important; }

.header .lang_link .nav-link { position: relative; padding: 0 23px  0 0 !important; }

.header .lang_link .dropdown-toggle:after { width: 6px; height: 6px; border: 0; border-left: 1px solid #fff; border-bottom: 1px solid #fff; position: relative; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); margin-left: 7px; }

.navbar-dark .navbar-toggler { border-color: #fff; outline: none; }

html { height: 100%; }

body { background: #fff; height: 100%; }

.ie_article_holder { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-flow: column; -ms-flex-flow: column; flex-flow: column; }

.article { background: url(../images/bg.png) no-repeat 50% 0; -webkit-background-size: cover; background-size: cover; min-height: 100vh; padding: 77px 0 0; color: #fff; }

.article .img_logo { max-width: 117px; }

.article h1 { margin: 40px 0 0 0; font-size: 60px; line-height: 60px; font-weight: 700; padding-bottom: 45px; }

@media (max-width: 1199.98px) { .article h1 { font-size: 50px; line-height: 52px; padding-bottom: 25px; } }

@media (max-width: 991.98px) { .article h1 { font-size: 35px; line-height: 37px; } }

.article p { margin: 0; font-size: 30px; line-height: 32px; }

@media (max-width: 1199.98px) { .article p { padding-bottom: 30px; } }

@media (max-width: 991.98px) { .article p { font-size: 25px; line-height: 27px; } }

.article .content_middle { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }

.article .content_bottom { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

.bar_tab .hlp_txt { font-size: 12px; line-height: 14px; color: #7b98c4; margin: 0; padding-top: 6px; }

.bar_tab .bar_tab_title { background: rgba(33, 63, 128, 0.6); -webkit-border-top-left-radius: 30px; border-top-left-radius: 30px; -webkit-border-top-right-radius: 30px; border-top-right-radius: 30px; }

.bar_tab .bar_tab_title p { margin: 0; padding-right: 15px; }

.bar_tab_body { background: rgba(33, 63, 128, 0.6); padding: 30px 0 10px; -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

.line_rate { background: #e0e0e0; padding: 10px 0; }

.line_rate span { padding: 0 10px; font-size: 14px; line-height: 16px; color: #969696; text-transform: uppercase; }

/*# sourceMappingURL=all.css.map */
