@import
	'_custom_bootstrap_vatiables.scss',
	'../../bower_components/bootstrap/scss/_functions.scss',
	'../../bower_components/bootstrap/scss/_variables.scss',
	'../../bower_components/bootstrap/scss/_mixins.scss';
.header{
	background:rgba(#000,.5);
	color: #fff;
	a{
		color: #fff !important;
	}
	.navbar-nav{
		.nav-item{
			padding: 0 23px;
			&.active{
				.nav-link{
					font-weight: 700;
				}
			}
		}
		a{
			font-size: 18px;
			padding: 0 !important;
		}
	}
	.navbar_main{
		@include media-breakpoint-down(lg){
			padding-top: 30px;
		}
		.nav-item{
			padding: 0 23px;
			@include media-breakpoint-down(lg){
				position: relative;
			}
			&.active{
				.nav-link{
					font-weight: 700;
					&:before{
						content: '';
						width: 100%;
						height: 3px;
						position: absolute;
						top: -8px;
						left: 0;
						background: #fff;
						@include media-breakpoint-down(lg) {
							top: 50%;
							transform:translateY(-50%);
							left: 0;
							width: 3px;
							height: 20px;
						}
					}
				}
			}
			.nav-link{
				padding: 17px 0 !important;
				display: block;
				position: relative;
				@include media-breakpoint-down(lg){
					position: static;
					padding: 5px 0 !important;
				}
				&:hover{
					&:before{
						content: '';
						width: 100%;
						height: 3px;
						position: absolute;
						top: -8px;
						left: 0;
						background: #fff;
						@include media-breakpoint-down(lg){
							top: 50%;
							transform:translateY(-50%);
							left: 0;
							width: 3px;
							height:20px;
						}
					}
				}
			}
		}
	}
	.navbar_sub{
		position: relative;
		padding-left: 25px;
		margin-left: 25px;
		&:before{
			content: '';
			width: 1px;
			height: 17px;
			background: #b8c4c6;
			position: absolute;
			top: 50%;
			left: 0;
			transform:translateY(-50%);
		}
		@include media-breakpoint-down(lg){
			padding-left: 0;
			margin-left: 0;
			margin-top: 20px;
			padding-top: 20px;
			&:before{
				top: 0;
				left: 50%;
				width: 70%;
				height: 1px;
				background: #fff;
				transform:translateX(-50%);
			}
		}
		@include media-breakpoint-down(lg) {
			padding-bottom: 20px;
		}
	}
	.lang_menu {
		min-width: 60px !important;
		@include media-breakpoint-down(lg){
			max-width: 100px;
		}
		@include media-breakpoint-down(sm) {
			max-width: none;
		}
		a{
			color: #58595b !important;
			padding: 0 10px !important;
			text-align: center;
		}
	}
	.lang_link{
		padding: 0 0 0 23px !important;
		.nav-link{
			position: relative;
			padding: 0 23px  0 0 !important;
		}
		.dropdown-toggle{
			&:after{
				width: 6px;
				height: 6px;
				border: 0;
				border-left: 1px solid #fff;
				border-bottom: 1px solid #fff;
				position: relative;
				transform: rotate(-45deg);
				margin-left: 7px;
			}
		}
	}
}
.navbar-dark .navbar-toggler{
	border-color: #fff;
	outline: none;
}
.header .navbar-nav  .dropdown-menu_text{
	a{
		color: #000 !important;
		display: block;
		padding: 0 15px !important;
	}
}