
@import
  '_custom_bootstrap_vatiables.scss',
  '../../bower_components/bootstrap/scss/_functions.scss',
  '../../bower_components/bootstrap/scss/_variables.scss',
  '../../bower_components/bootstrap/scss/_mixins.scss';
body{
  font:18px/28px 'Exo 2', sans-serif;
}

// The Mixin 
@mixin placeholder_custom{
    &:-ms-input-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &::-webkit-input-placeholder {
        @content
    }
}

.with_images_select{
  width: 100%;
  .jcf-select{
    .jcf-select-text{
      margin-left: 5px;
      padding-left: 40px;
    }
  }
}
.jcf-select{
  background: #fff;
  border-color: #385e9b;
  border-radius: 6px;
  color: #480f63;
  height: 42px;
  margin-bottom: 0;
  width: 100%;
  display: block;
  cursor: pointer !important;
  .jcf-select-text{
    font:700 18px/40px 'Exo 2', sans-serif;
    color: #385e9b;
    position: relative;
    margin-right: 30px;
    margin-left: 10px;
    cursor: pointer;
    img{
      position: absolute;
      top: 50%;
      transform:translateY(-50%);
      left: 0;
      display: block;
      max-height: 20px;
      width: auto;
    }
  }
  .jcf-select-opener{
    background: none;
    width: 22px;
    &:after{
      content: '';
      width: 6px;
      height: 6px;
      border: 0;
      border-left: 1px solid #385e9b;
      border-bottom: 1px solid #385e9b;
      position: relative;
      transform:translate(-50%,-50%) rotate(-45deg);
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}
.jcf-list-box .jcf-selected, .jcf-select-drop .jcf-hover{
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
.jcf-select-drop{
  margin-top: 2px !important;
  img{
    max-width: 30px;
    display: block;
    height: auto;
  }
  .jcf-select-drop-content{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    background: #fff;
  }
  .jcf-list{background: none;}
  ul{
    padding: 8px 0;
    li{
      span{
        padding: 0.25rem 1.5rem 0.25rem 20px !important;
        cursor: pointer !important;
        font-size: 16px;
        line-height: 26px;
        position: relative;
        img{
          display: inline-block;
          vertical-align: middle;
          padding-right: 10px;
        }
      }
    }
  }
}
.jcf-focus,.jcf-focus *{
  border-color:#385e9b !important;
  transition: border-color 0.15s ease-in-out;
}
.input_group{
  height: 42px;
  .form-control{
    border-color: #385e9b;
    border-left-color: transparent;
    height: 42px;
    font-size: 18px;
    color: #385e9b;
    font-weight: 700;
    &:focus{
      border-color: #385e9b;
    }
  }
  .input-group-text{
    background: #fff;
    border-color: #385e9b;
    border-right: 0;
    span{
      font-size: 18px;
      color: #b9c8e0;
    }
  }
  .input-group-append{
    .btn{
      border-color: #385e9b;
      background: #e0e0e0;
      font-size: 18px;
      font-weight: 700;
      color: #385e9b;
      border-left: 0;
      &:active,&:focus{
        box-shadow: none !important;
      }
      &.dropdown-toggle{
        &:after{
          content: '';
          width: 6px;
          height: 6px;
          border: 0;
          border-left: 1px solid #385e9b;
          border-bottom: 1px solid #385e9b;
          position: relative;
          transform: rotate(-45deg);
          margin-left: 10px;
        }
      }
    }
  }
}
.holder_custom{
  padding: 0 8px;
  > .row{
      margin: 0 -8px;
      [class *= "col"]{
        padding-left: 8px;
        padding-right: 8px;
      }
  }
}
.btn_gray{
  background: #e0e0e0;
  height: 42px;
  font-size: 18px;
  font-weight: 700;
  color: #385e9b;
  padding-left: 27px;
  padding-right: 27px;
}
.nav_tablist{
  &.bordered{
    li{
      a{
        &.active{
          position: relative;
          &:before{
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
          }
        }
      }
    }
  }
  li{
    font-size: 30px;
    padding: 0 15px;
    @include media-breakpoint-down(sm) {
      font-size: 20px;
      padding: 0 10px;
    }
    a{
      color: #6495bf;
      font-weight: 800;
      display: block;
      padding: 8px 0;
      &:hover{text-decoration: none;}
      &.active{
        color: #fff;
      }
    }
  }
}
.minw_0{
  min-width: 0;
}
.jcf-list .jcf-option{
  text-overflow:ellipsis;
}
.btn_outline_transparent{
  border-width: 5px;
  height: 71px;
  border-radius: 35px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 30px;
  font-weight: 700;
}
.fancybox-bg{
  background: rgba(#37699f,.9);
}
.fancybox-is-open{
  z-index: 9999;
  .fancybox-bg{
    opacity: 1;
  }
}
.btn_blue{
  background: #59a39d;
  color: #fff;
}
.btn_modal{
  font-size: 18px;
  font-weight: 700;
}
.fancybox-close-small{
  color: #386aa0 !important;
  padding: 5px !important;
}
.form_control{
  height: 42px;
  font-size: 18px;
  font-weight: 400;
  color: #bfbfbf;
  padding-left: 14px;
  padding-right: 14px;
  border-color: #385e9b;
  @include placeholder_custom {
    color: #bfbfbf;
    opacity: 1;
  }
  &.has_error{
    background: #fcd8d8;
    box-shadow: none !important;
    color: #ff2020;
    &:focus{
      color: #bfbfbf;
      background: #fff;
    }
    @include placeholder_custom {
      color: #ff2020;
      opacity: 1;
    }
  }
}
.custom_checkbox{
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #bfbfbf;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    font-weight: 400;
    a{
      display: inline-block;
      text-decoration: underline;
      color: #4f8ff3;
      &:hover{
        text-decoration: none;
      }
    }
  }

  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 16px;
    height: 16px;
    border: 2px solid #818181;
    border-radius: 2px;
    background: #fff;
  }
  [type="checkbox"]:not(:checked) + label:before{
    background: #fff;
  }
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    top: 11px;
    left: 5px;
    transition: all .2s;
    width: 6px;
    height: 6px;
    border-left: 2px solid #37699f;
    border-bottom: 2px solid #37699f;
    transform:rotate(-45deg) !important;

  }

  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }
  [type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }
  [type="checkbox"]:disabled + label {
    color: #aaa;
  }
}