
@import
	'_custom_bootstrap_vatiables.scss',
	'../../bower_components/bootstrap/scss/_functions.scss',
	'../../bower_components/bootstrap/scss/_variables.scss',
	'../../bower_components/bootstrap/scss/_mixins.scss',
	'_param',
	'_header';
html{
	height: 100%;
}
body{
	background: #fff;
	height: 100%;
}
.ie_article_holder{
	display: flex;
	flex-flow:column;
}
.article{
	background:url(../images/bg.png) no-repeat 50% 0;
	background-size: cover;
	min-height: 100vh;
	padding: 77px 0 0;
	.img_logo{
		max-width: 117px;
	}
	color: #fff;
	h1{
		margin: 40px 0 0 0;
		font-size: 60px;
		line-height: 60px;
		font-weight: 700;
		padding-bottom: 45px;
		@include media-breakpoint-down(lg) {
			font-size: 50px;
			line-height: 52px;
			padding-bottom: 25px;
		}
		@include media-breakpoint-down(md) {
			font-size: 35px;
			line-height: 37px;
		}
	}
	p{
		margin: 0;
		font-size: 30px;
		line-height: 32px;
		@include media-breakpoint-down(lg){
			padding-bottom: 30px;
		}
		@include media-breakpoint-down(md){
			font-size: 25px;
			line-height: 27px;
		}
	}
	.content_middle{
		flex-grow:1;
		max-width: 100%;
	}
	.content_bottom{
		// flex: 0 0 100%;
		max-width: 100%;
	}
}
.bar_tab{
	.hlp_txt{
		font-size: 12px;
		line-height: 14px;
		color: #7b98c4;
		margin: 0;
		padding-top: 6px;
	}
	.bar_tab_title{
		background: rgba(#213f80,.6);
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		p{
			margin: 0;
			padding-right: 15px;
		}
	}
}
.bar_tab_body{
	background: rgba(#213f80,.6);
	padding:30px 0 10px;
	flex: 0 0 100%;
	max-width: 100%;
}
.line_rate{
	background: #e0e0e0;
	padding:10px 0;
	span{
		padding:0 10px;
		font-size: 14px;
		line-height: 16px;
		color: #969696;
		text-transform: uppercase;
	}
}
select{
	max-width: 100%;
}
.proposition_block{
	padding-top: 75px;
	padding-bottom: 90px;
	h2{
		margin: 0;
		
		
		padding-bottom: 42px;
	}
	h3{
		margin: 0;
		font-size: 30px;
		line-height: 36px;
		color: #58595b;
		font-weight: 400;
	}
	p{
		margin: 0;
		padding-bottom: 28px;
	}
	@include media-breakpoint-down(lg) {
		padding-top: 50px;
		padding-bottom: 50px;
		h2{
			
			padding-bottom: 30px;
		}
		h3{
			font-size: 25px;
			line-height: 31px;
		}
	}
	@include media-breakpoint-down(md) {
		padding-top: 30px;
		padding-bottom: 30px;
		h2{
			
			padding-bottom: 15px;
		}
		h3{
			font-size: 20px;
			line-height: 26px;
		}
	}
}
.section_title{
	font-size: 60px;
	line-height: 62px;
	color: #58595b;
	font-weight: 700;
	@include media-breakpoint-down(lg) {
		font-size: 50px;
		line-height: 52px;
		@include media-breakpoint-down(md) {
			font-size: 35px;
			line-height: 36px;
		}
	}
}
.advantages_block{
	background: url(../images/bg.jpg) no-repeat 50% 0;
	background-size: cover;
	padding-top: 75px;
	padding-bottom: 90px;
	@include media-breakpoint-down(md){
		padding-top: 50px;
		padding-bottom: 50px;
	}
	h2{
		padding-bottom: 20px;
		@include media-breakpoint-down(md){
			padding-bottom: 0;
		}
	}
	h3{
		margin: 0;
		font-size: 30px;
		line-height: 36px;
		color: #58595b;
		font-weight: 400;
		padding-bottom: 30px;
		@include media-breakpoint-up(lg) {
			font-size: calc(30vw / 19.2);
			line-height: calc(36vw / 19.2);
		}
		@include media-breakpoint-down(md){
			font-size: 20px;
			line-height: 22px;
			padding-bottom: 10px;
			font-weight: 700;
		}
	}
	p{
		margin: 0;
		font-size: 18px;
		line-height: 28px;
		color: #58595b;
	}
	.img_prev{
		height: 85px;
		display: flex;
		align-items:flex-end;
		margin-bottom: 32px;
		@include media-breakpoint-down(md) {
			img{
				margin: 0 auto;
			}
		}
	}
	.column_holder{
		@include media-breakpoint-up(xl){
			max-width: 80%;
			margin: 0 auto;
		}
	}
}
.start_block{
	background: url(../images/bg_2.jpg) no-repeat 50% 0;
	background-size: cover;
	padding-top: 75px;
	padding-bottom: 90px;
	.btn{
		margin-top: 25px;
	}
}
.footer{
	background: #58595b;
	height: 372px;
	color: #fff;
	margin-top: -372px;
	ul{
		margin: 0;
		padding: 28px 0 0 0;
		list-style: none;
		display: block;
		font-size: 0;
		text-align: center;
		a{
			color: #fff;
			font-size: 18px;
			&:hover{
				text-decoration: underline;
			}
		}
		li{
			display: inline-block;
			vertical-align: middle;
			padding: 0 23px;
			@include media-breakpoint-down(md){
				padding: 0 10px;
				@include media-breakpoint-down(sm) {
					display: block;
				}
			}
			&.active{
				a{
					font-weight: 700;
					text-decoration: underline;
				}
			}
		}
	}
	.copy{
		font-size: 14px;
		padding-top: 67px;
		@include media-breakpoint-down(sm){
			padding-top: 30px;
		}
	}
}
.small_modal{
	width: 100%;
	max-width: 390px;
}
.cstm_modal{
	border-radius: 9px;
	@include media-breakpoint-up(sm){
		padding: 50px;
		
	}
	@include media-breakpoint-down(xs) {
		padding-left: 20px;
		padding-right: 20px;
	}	
	h2{
		font-size: 30px;
		line-height: 32px;
		color: #58595b;
		font-weight: 700;
		margin: 0;
		padding-bottom: 47px;
	}
	.help_txt{
		margin: 0;
		font-size: 14px;
		line-height: 17px;
		color: #bfbfbf;
		a{
			color: #508ff3;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.link_forgot{
		font-size: 14px;
		line-height: 16px;
		color: #4f8ff3;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.title_block{
	color: #fff;
	padding-top: 155px;
	padding-bottom: 77px;
	background-size: cover !important;
	h1{
		margin: 0;
		font-size: 60px;
		line-height: 62px;
		font-weight: 700;
		@include media-breakpoint-down(lg) {
			font-size: 40px;
			line-height: 42px;
			@include media-breakpoint-down(md){
				font-size: 35px;
				line-height: 37px;
			}
		}
	}
}
.page_title{
	background-size: cover !important;
	color: #fff;
	padding-top: 155px;
	padding-bottom: 330px;
	@include media-breakpoint-down(md){
		padding-top: 100px;
		padding-bottom: 300px;
	}
	h1{
		margin: 0;
		font-size: 60px;
		line-height: 62px;
		font-weight: 700;
		@include media-breakpoint-down(lg) {
			font-size: 40px;
			line-height: 42px;
			@include media-breakpoint-down(md){
				font-size: 35px;
				line-height: 37px;
			}
		}
	}
}
.promo_block{
	background-size: cover !important;
	color: #fff;
	padding-top: 170px;
	padding-bottom: 130px;
	@include media-breakpoint-down(lg){
		padding-top: 100px;
		padding-bottom: 50px;
	}
	h1{
		margin: 0;
		font-size: 60px;
		line-height: 62px;
		font-weight: 700;
		padding-bottom: 42px;
		@include media-breakpoint-down(lg) {
			font-size: 40px;
			line-height: 42px;
			@include media-breakpoint-down(md){
				font-size: 35px;
				line-height: 37px;
			}
		}
	}
	p{
		margin: 0;
		font-size: 30px;
		line-height: 36px;
		@include media-breakpoint-down(lg){
			font-size: 25px;
			line-height: 30px;
			@include media-breakpoint-down(md){
				font-size: 22px;
				line-height: 27px;
			}
		}
	}
}
.map_holder{
	height: 310px;
	border-radius: 10px;
	background: linear-gradient(45deg, rgba(45,81,158,1) 0%,rgba(90,165,157,1) 100%);
	padding: 3px;
	margin-bottom: 80px;
	@include media-breakpoint-down(lg){
		margin-bottom: 40px;
	}
}
.map_styles{
	height: 100%;
	width: 100%;
	border-radius: 10px;
}
.contact_block{
	padding-top: 80px;
	@include media-breakpoint-down(lg){
		padding-top: 40px;
	}
	p{
		margin: 0;
		font-size: 18px;
		line-height: 28px;
		color: #58595b;
		padding-bottom: 27px;
	}
	h3{
		font-size: 30px;
		line-height: 32px;
		color: #58595b;
		font-weight: 400;
		margin: 0;
		padding-bottom: 30px;
	}
	ul{
		font-size: 18px;
		line-height: 28px;
		color: #58595b;
		a{
			color: #58595b;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.exchange_block{
	padding-top: 50px;
	h2{
		margin: 0;
		font-size: 30px;
		line-height: 32px;
		a{
			font-weight: 700;
			color: #58595b;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.bar_tab_title{
		background: none;
		padding-bottom: 50px;
		p{
			font-size: 30px;
			line-height: 33px;
			color: #58595b;
			margin: 0;
			padding:0 0 15px 0 !important;
		}
	}
	.bar_tab_body{
		padding-top: 0;
		background: none;
		.tab-pane{
			background: #d2ebf2;
			padding-top: 60px;
			padding-bottom: 16px;
			@include media-breakpoint-down(lg){
				padding-top: 30px;
			}
		}
	}
	.tab_bottom{
		padding-top: 30px;
		ul{
			padding: 0 8px;
		}
	}
}
.data_list{
	li{
		padding-right: 10px;
		padding-bottom: 10px;
		min-width: 100px;
		&:last-child{
			padding-right: 0;
		}
		@include media-breakpoint-down(xs) {
			padding: 10px !important;
			min-width: auto;
			flex: 0 0 33.33%;
			max-width: 33.33%;
			text-align: center;
		}
	}
	strong{
		display: block;
		font-weight: 700;
	}
	strong ,span{
		font-size: 14px;
		line-height: 16px;
		color: #969696;
	}
}
.exchange_add{
	p{
		font-size: 30px;
		line-height: 35px;
		color: #58595b;
		margin: 0;
		@include media-breakpoint-down(md){
			font-size: 25px;
			line-height: 30px;
		}
	}
}
.data_inf{
	font-size: 18px;
	line-height: 20px;
	color: #58595b;
	li{
		padding-bottom: 8px;
	}
	strong{
		font-weight: 700;
	}
}
.bar_promo{
	background: #d2ebf2;
	border-radius: 9px;
	color: #58595b;
	padding-top: 35px;
	padding-left: 10px;
	padding-right: 10px;
	.i_prev{
		height: 74px;
		display: flex;
		margin-bottom: 22px;
		span{
			position: relative;
			em{
				width: 26px;
				height: 26px;
				border-radius: 50%;
				text-align: center;
				position: absolute;
				top: -10px;
				left: 0;
				background: linear-gradient(45deg, rgba(45,81,158,1) 0%,rgba(90,165,157,1) 100%);
				font-size: 14px;
				line-height: 26px;
				color: #fff;
				font-weight: 700;
				font-style: normal;
			}
		}
	}
	h4{
		margin: 0;
		font-weight: 700;
		font-size: 18px;
		line-height: 20px;
	}
	p{
		margin: 2px 0 0 0;
		font-size: 18px;
		line-height: 20px;
	}
	strong{
		display: block;
		font-size: 14px;
		line-height: 16px;
		font-weight: 400;
		padding-top: 2px;
	}
}
.custom_container{
	.custom_c_hld{
		margin-top: -246px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding-top: 80px;
		@include media-breakpoint-down(md){
			border-radius: 0;
		}
	}
	.contact_frm{
		margin-top: 34px;
		@include media-breakpoint-down(md){
			margin-top: 0;
		}
	}
}
.accordion{
	.card{
		margin-bottom: 18px;
		border: 0 !important;
		border-radius: 0 !important;
		.card-header{
			border-radius: 0;
			border: 0;
			padding: 0;
			background: #e0e0e0;
			.btn{
				display: block;
				width: 100%;
				text-align: left;
				font-size: 30px;
				line-height: 32px;
				color: #58595b;
				font-weight: 700;
				text-transform: uppercase;
				padding: 9px 5px 12px 55px;
				position: relative;
				border-radius: 0;
				white-space: normal;
				min-width: 0;
				max-width: 100%;
				display: block;
				&:hover,&:active,&:focus{
					text-decoration: none !important;
				}
				&:after{
					content: '';
					width: 14px;
					height: 14px;
					border: 0;
					border-left: 2px solid #386aa0;
					border-bottom: 2px solid #386aa0;
					position: relative;
					transform: rotate(135deg);
					position: absolute;
					top: 23px;
					left: 20px;

				}
				&.collapsed{
					&:after{
						top: 17px;
						transform: rotate(-45deg);
					}
				}
				@include media-breakpoint-down(lg){
					font-size: 25px;
					line-height: 27px;
					&:after{
						top: 20px;
					}
					&.collapsed{
						&:after{
							top: 13px;
						}
					}
					@include media-breakpoint-down(md){
						font-size: 20px;
						line-height: 22px;
						padding-left: 35px;
						&:after{
							top: 18px;
							left: 10px;
						}
						&.collapsed{
							&:after{
								top: 12px;
							}
						}
					}
				}
			}
		}
		.card-body{
			padding: 20px  55px;
			@include media-breakpoint-down(md){
				padding: 20px 0;
			}
			h3{
				margin: 0;
				font-weight: 400;
				font-size: 24px;
				line-height: 26px;
				color: #58595b;
				padding-bottom: 16px;

			}
			p{
				margin: 0;
				font-size: 14px;
				line-height: 17px;
				padding-bottom: 30px;
			}
		}
	}
}
.gal_logos{
	img{
		display: block;
		margin: 0 auto;
	}
}